<div id="<%= dom_id link %>">
  <p>
    <strong>Website title:</strong>
    <%= link.website_title %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= link.logo_url %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= link.website_url %>
  </p>

</div>
