/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 :root {
	/* Backgrounds */
	--color-bg: #ECEFF1;
	--color-surface: #FFFFFF;
  
	/* Layout Sections */
	--color-header-footer: #333333;
  
	/* Buttons & Interactive Elements */
	--color-primary: #4FC3F7;
	--color-primary-hover: #0288D1;
  
	/* Text */
	--color-text-primary: #212121;
	--color-text-secondary: #757575;
  }

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body {
	background-color: var(--color-surface);
	color: var(--color-text-primary);
  }
  
  link, .link {
	text-decoration: none;
  	color: var(--color-text-primary);
  }

