.navbar {
  background-color: var(--color-header-footer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin: 2px 12px;
  border-radius: 50px; 
  width: 50px;
}

.navbar-button {
  padding: 5px;
  margin: 12px 24px;
  border-radius: 5px;
  background: var(--color-primary);
}

.navbar-button:hover {
  background-color: var(--color-primary-hover);
}

.nav-link {
  font-size: large;
  font-style: bold;
  text-decoration: none;
  color: var(--color-text-primary);
  padding: 8px;
}
