.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#tree {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  height: 450px;
  width: 40%;
  border: 5px solid black;
  border-radius: 20px;
}

.tree-header {
	display: flex;
	align-items: center;
}

.tree-name {
	font-size: 30px;
}

.profile-pic {
	width: 100px;
	margin-right: 12px;
}